.searchButton {
    -fx-background-image: url("searching.png")
}

.searchButton:hover {
    -fx-background-image: url("searching.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.searchButton:pressed {
    -fx-background-image: url("searching.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.editButton {
    -fx-background-image: url("edit.png")
}

.editButton:hover {
    -fx-background-image: url("edit.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.editButton:pressed {
    -fx-background-image: url("edit.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.historyButton {
    -fx-background-image: url("history.png")
}

.historyButton:hover {
    -fx-background-image: url("history.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.historyButton:pressed {
    -fx-background-image: url("history.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.noteButton {
    -fx-background-image: url("Note.png")
}

.noteButton:hover {
    -fx-background-image: url("Note.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.noteButton:pressed {
    -fx-background-image: url("Note.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.aboutUsButton {
    -fx-background-image: url("aboutUs.png")
}

.aboutUsButton:hover {
    -fx-background-image: url("aboutUs.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.aboutUsButton:pressed {
    -fx-background-image: url("aboutUs.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.speechButton {
    -fx-background-image: url("voice.png");
}

.speechButton:hover {
    -fx-background-image: url("voice.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.speechButton:pressed {
    -fx-background-image: url("voice.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.note {
    -fx-background-image: url("NoteTinyIcon.png")
}

.note:hover {
    -fx-background-image: url("NoteTinyIcon.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.note:pressed {
    -fx-background-image: url("NoteTinyIcon.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.edit {
    -fx-background-image: url("editTinyIcon.png")
}

.edit:hover {
    -fx-background-image: url("editTinyIcon.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.edit:pressed {
    -fx-background-image: url("editTinyIcon.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.delete {
    -fx-background-image: url("delete.png")
}

.delete:hover {
    -fx-background-image: url("delete.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.delete:pressed {
    -fx-background-image: url("delete.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}