.btnSearchPane {
    -fx-background-image: url("searching.png")
}

.btnSearchPane:hover {
    -fx-background-image: url("searching.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.btnSearchPane:pressed {
    -fx-background-image: url("searching.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.btnNotesPane {
    -fx-background-image: url("Note.png")
}

.btnNotesPane:hover {
    -fx-background-image: url("Note.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.btnNotesPane:pressed {
    -fx-background-image: url("Note.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.btnAboutUsPane {
    -fx-background-image: url("aboutUs.png")
}

.btnAboutUsPane:hover {
    -fx-background-image: url("aboutUs.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.btnAboutUsPane:pressed {
    -fx-background-image: url("aboutUs.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.speechButton {
    -fx-background-image: url("voice.png");
}

.speechButton:hover {
    -fx-background-image: url("voice.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.speechButton:pressed {
    -fx-background-image: url("voice.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.note {
    -fx-background-image: url("NoteTinyIcon.png")
}

.note:hover {
    -fx-background-image: url("NoteTinyIcon.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.note:pressed {
    -fx-background-image: url("NoteTinyIcon.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.edit {
    -fx-background-image: url("editTinyIcon.png")
}

.edit:hover {
    -fx-background-image: url("editTinyIcon.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.edit:pressed {
    -fx-background-image: url("editTinyIcon.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.delete {
    -fx-background-image: url("delete.png")
}

.delete:hover {
    -fx-background-image: url("delete.png");
    -fx-border-color: #5181cf;
    -fx-border-width: 2;
}

.delete:pressed {
    -fx-background-image: url("delete.png");
    -fx-border-color: #0b4bb3;
    -fx-border-width: 2;
}

.aboutUsText {
    -fx-font: 36px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}